* { /* assign these to the entire document*/
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
  }
/* create the header and assign it various properties*/
header{
    background-image: url(images/dark.webp);
    background-size: cover;
    margin: 0;
    text-align: right;
    font-size: 20px;
    font-family: Georgia, serif;
    color: black;
    border: 0px;
  
    padding: 15px;
}
/* create the main section and assign some values to it */
main{
    text-align: center;
    font-family: Georgia, serif;
    padding: 30px;
    font-size: 15px;
    margin: 15px;
}
/* create the main body, center the text and others*/
body{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 15px;
    background-color: white;
    padding: 0px;
    margin: 0;
}
/* creating the article style*/
article{
    line-height: 20px;
    padding: 30px;
}
/* creating the style for ordered */
ol{
    text-align: center;
    padding: 20px;
    
}
/* creating the style for the footer*/
footer{
    background-image: url(images/dark.webp);
    height: 60px;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
   
}
/*creatung the pseudo-class for the link*/

a:link{
    color: blue;
}
a:visited{
    color:darkblue;
}
a:hover{
    color:lightblue;
}
a:active{
    color:red;
}

/* creating the class for dot-contact */
.contact{
    padding: 30px 100px;
    display: inline-block;
}

/* assigning details to the hr class */
hr{
    border: 3px;
    margin: 10px;
    background-color: black;
    padding: 3px;
}

ul {
    line-height: 20px;
    padding: 30px;
    text-align: center;
    display: inline-block;
}