header{
    margin: 0;
    text-align: center;
    font-family: Georgia;
    color:black;
    padding: 15px 20px;
}
nav {
    text-align: center;
    font-family: Georgia;
    color: black;
}
main{
    text-align: center;
    font-family: Georgia;
    padding: 15px 20px;
}
